*{
  margin: 0;
  padding: 0;
}
:root{
  --textandiconColor:rgb(228, 228, 228);
}
.sideBar{
  height: 100vh;
  width: 4em;
  overflow: hidden;
  transition: max-width 0.5s ease-in-out;
  background: rgb(0,9,77);
  background: linear-gradient(90deg, rgba(0,9,77,1) 0%, rgba(0,13,106,1) 100%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  position: fixed;
  transition: .3s ease-in-out;
}
.sideBar:hover{
  width: 10em;
}
.sideBar ul{
  margin: auto;
  list-style: none;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.sideBar button{
  color: var(--textandiconColor);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  padding: 1em;
  gap: 1.5em;
  transition: .2s ease-in-out;
  cursor: pointer;
  border-style: none;
  background-color: transparent;
  width: 100%;
}
.sideBar button:hover{
  background: rgb(0, 6, 48);  
  border-left-style: solid;
  border-left-width: 3px;
  border-color: var(--textandiconColor);
}
.sideBar p{
  font-size: 1.5em;
  pointer-events: none;
}
.sideBar svg{
  fill: var(--textandiconColor);
  width: 2.5em;
  height: 2.5em;
}